<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <div class="bg-yellow-400 h-40 w-40 flex rounded-full shadow-xl mx-auto">
      </div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        {{objMatch.nombreRitual}} 
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="/newRitual/{{objMatch.nombreRitual}}" method="POST">
      <h3 class="text-lg font-bold text-gray-900">¿Qué dias quieres repetir esta nueva tradición?</h3>
      
      <div class="grid grid-flow-row grid-cols-3 grid-rows-3 gap-4">
        {{#each this.dias}}
        <div class="p-4  bg-white rounded-xl shadow-md">
          <label class="flex items-center space-x-3">
          <input type="checkbox" value={{this}} name="dias" class=" h-6 w-6 border border-gray-300 rounded-md checked:bg-blue-600 checked:border-transparent focus:outline-none">
          <span class="text-gray-900 font-medium">{{this}}</span>
          </label>
        </div>
      {{/each}}
    </div>
     
        <div>
        <h3 class="text-lg font-bold text-gray-900">{{objMatch.pregunta}}</h3>
          <input id="edad" name="valorNum" type="number" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="numero">
      </div>
      <div class="flex items-center justify-between">
      </div>
      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Añadir
        </button>
      </div>
    </form>

  </div>
</div>
